<footer class="tenant-footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-brand">
        <ion-icon name="business-outline"></ion-icon>
        <span>LandingSaaS</span>
      </div>
      <p class="footer-copy">© {{ currentYear }} {{ negocioNombre }}. Todos los derechos reservados.</p>
    </div>
    
    <div class="footer-right">
      <a href="#" class="footer-link">
        <ion-icon name="help-circle-outline"></ion-icon>
        <span>Ayuda</span>
      </a>
      <a href="#" class="footer-link">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <span>Privacidad</span>
      </a>
      <a href="#" class="footer-link">
        <ion-icon name="document-text-outline"></ion-icon>
        <span>Términos</span>
      </a>
    </div>
  </div>
</footer>